<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/RegisterPage.css">  <!-- Corrected path -->
    <title>Login Page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="">Khaatabook</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">Create New Hisaab</a></li>
        </ul>
    </nav>
    <main>
        <h3>Login You Account</h3>
        <form action="/checkLogin" method="post">
            <input type="email" placeholder="Email" name="email">
            <input type="password" placeholder="password" name="password">
            <input type="submit">
        </form>
    </main>
</body>
</html>
